<div role="main">
  <div class="main hero">
    <div class="container">
      <div class="row row1">
        <div class="col-md-12 text-center" style="border: 1px solid #000;padding: 40px;">
          <h1>Welcome To Teach For Canada Data Portal short description of what it is.....</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-6 col-md-offset-3 text-center" style="border: 1px solid #000;padding: 40px;">
          <h1>School Data</h1>
        </div>
      </div>
      <div class="row row2" style="margin-bottom: 40px;">
        <div class="col-md-5 text-center" style="border: 1px solid #000;padding: 40px;">
          <h1>Ways to Participate</h1>
        </div>
        <div class="col-md-5 col-md-offset-2 text-center" style="border: 1px solid #000;padding: 40px;">
          <h1>Resource Bank</h1>
        </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-5 text-center" style="border: 1px solid #000;padding: 40px;">
          <h1>Community Feedback</h1>
        </div>
        <div class="col-md-5 col-md-offset-2 text-center" style="border: 1px solid #000;padding: 40px;">
          <h1>Feedback</h1> 
        </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-6 col-md-offset-3 text-center" style="border: 1px solid #000;padding: 10px;">
          <h1>Teacher Matching</h1>
        </div>
      </div>
    </div>
  </div>
</div>
