<div class="hero" style="margin-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {% block search %}
        {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<div role="main">
  <div class="main">
    <div class="container border border-dark">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6" style="height: 50%;margin-right: 60px;">
          <img src="/base/images/student-teach.jpeg" class="img-fluid img-body ">
        </div>
        <div class="col-md-5"  style="height:50%;">
          <div class="article-spacing">
            <strong>BOOZHOO, WACHIYA, BIENVENUE, WELCOME</strong>
            <article class="b1-descp">Teach For Canada is a Non-profit organization that works with northern Nations to recreate and Support
              cooperation of teachers
            </article>
            <button class="btn btn-primary">Why a Data Portal</button>
          </div>
        </div>
      </div>

      <div class="row rows2">
        <div class="col-md-3 col-md-offset-1 text-center center-body">
          <div class="row">
            <div class="col-md-12 center-body-spacing" >
              <div class="oval-div" style="background: url('/base/images/SchoolData.jpg'); background-size:cover;background-repeat: no-repeat;">
              </div>
            </div>
          </div>
          <div class="row content-oval-div-spacing" >
            <h2><b>School Data</b></h2>
            <div class="content-divider"></div>
            <article>
              Teacher learn about First Nation Histories, cultures, language and contemporary realities
            </article>
          </div>
          <div class="row">
            <a class="col-md-6 col-sm-offset-3  btn-danger view-btn" href="{{h.url_for('schooldata.page')}}" >
              <b>VIEW</b>
            </a>
          </div>
        </div>
        <div class="col-md-3 text-center center-body">
          <div class="row">
            <div class="col-md-12 center-body-spacing">
              <div class="oval-div" style="background: url('/base/images/Datasets-Image.jpg'); background-size:cover;background-repeat: no-repeat;">
              </div>
            </div>
          </div>
          <div class="row content-oval-div-spacing">
            <h2><b>Datasets</b></h2>
            <div class="content-divider"></div>
            <article>
              Teacher learn about First Nation Histories, cultures, language and contemporary realities
            </article>
          </div>
          <div class="row">
            <a class="col-md-6 col-sm-offset-3  btn-danger view-btn" href="{{h.url_for('dataset.search')}}" >
              <b>VIEW</b>
            </a>
          </div>
        </div>
        <div class="col-md-3 text-center center-body">
          <div class="row">
            <div class="col-md-12 center-body-spacing">
              <div class="oval-div" style="
              background: url('/base/images/Research-Projects.jpg'); background-size:cover;background-repeat: no-repeat;">
              </div>
            </div>
          </div>
          <div class="row content-oval-div-spacing" >
            <h2><b>Research Projects</b></h2>
            <div class="content-divider"></div>
            <article>
              Teacher learn about First Nation Histories, cultures, language and contemporary realities
            </article>
          </div>
          <div class="row">
            <a class="col-md-6 col-sm-offset-3  btn-danger view-btn" href="{{h.url_for('resourcebank.read')}}" >
              <b>VIEW</b>
            </a>
          </div>
        </div>
      </div>
      <div class="row row2" style="margin-bottom: 15px;">
        <div class="col-md-3 col-md-offset-1 text-center center-body">
          <div class="row">
            <div class="col-md-12 center-body-spacing">
              <div class="oval-div">
                <img src="/base/images/waystoP.png" class="oval-img"/>
              </div>
            </div>
          </div>
          <div class="row content-oval-div-spacing">
            <h2><b>Ways to Participate</b></h2>
            <div class="content-divider"></div>
            <article>
              Teacher learn about First Nation Histories, cultures, language and contemporary realities
            </article>
          </div>
          <div class="row">
            <a class="col-md-6 col-sm-offset-3  btn-danger view-btn" href="{{h.url_for('participate.show')}}" >
              <b>VIEW</b>
            </a>
          </div>
        </div>
        <div class="col-md-3 text-center center-body">
          <div class="row">
            <div class="col-md-12 center-body-spacing">
              <div class="oval-div">
                <img src="/base/images/Resource-Bank.jpg" class="oval-img"/>
              </div>
            </div>
          </div>
          <div class="row content-oval-div-spacing">
            <h2><b>Resource Bank</b></h2>
            <div class="content-divider"></div>
            <article>
              Teacher learn about First Nation Histories, cultures, language and contemporary realities
            </article>
          </div>
          <div class="row">
            <a class="col-md-6 col-sm-offset-3  btn-danger view-btn" href="{{h.url_for('resourcebank.read')}}">
              <b>VIEW</b>
            </a>
          </div>
        </div>
        <div class="col-md-3 text-center center-body">
          <div class="row">
            <div class="col-md-12 center-body-spacing">
              <div class="oval-div">
                <img src="/base/images/Community-Forum.jpg" class="oval-img"/>
              </div>
            </div>
          </div>
          <div class="row content-oval-div-spacing">
            <h2><b>Community Forum</b></h2>
            <div class="content-divider"></div>
            <article>
              Teacher learn about First Nation Histories, cultures, language and contemporary realities
            </article>
          </div>
          <div class="row">
            <a class="col-md-6 col-sm-offset-3  btn-danger view-btn" href="{{h.url_for('teachcanada.form_page')}}" >
              <b>VIEW</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>