{% extends "page.html" %}

{% block subtitle %}{{ _('Feedbacks') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('Feedbacks'), named_route='home.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}


{% block primary_content_inner %}
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfoihNI1vD74Qx8eLHrdb6l_ffbeLtdtVIwxsv4vOe2XYLQ7Q/viewform?embedded=true" width="640" height="1291" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    FeedBack
  </h2>
  <div class="module-content">
    <p>
      Feedbacks about the Data Portal and how it can be improved.
    </p>
  </div>
</div>

{% endblock %}