{% extends "page.html" %}

{% block subtitle %}{{ _('School Data') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('School Data'), named_route='home.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}


{% block primary_content_inner %}
<script type='module' src='https://prod-ca-a.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
<div class='tableauPlaceholder'  width='1920px' height="913px" style="font-size: small;" >
 <script type='module' src='https://prod-ca-a.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
  <tableau-viz id='tableau-viz' src='https://prod-ca-a.online.tableau.com/t/communitypartnerdataportal/views/CPDataPortalStory/MonthlySurveyStory/d04e4450-cf2d-4e96-ac0d-2f01c3e671db/MonthlySurveyStory' width='1920' height='913' hide-tabs toolbar='bottom'>
  </tableau-viz>
</div>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    School Data
  </h2>
  <div class="module-content">
    <p>
     Tableau vizualization of school data.
    <br />
    <br />
    <strong>Tableau Credentials:</strong>
    <br />
    <br />
    <span><strong>Email:</strong> schooldata@teachforcanada.ca</span>
    <br />
    <span><strong>Password:</strong> !DataPortal1</span>
    </p>
  </div>
</div>

{% block style %}
  <style>
    .row.wrapper {
      width: 1360px !important;
    }
  </style>
{% endblock%}
{% endblock %}
