{% extends "page.html" %}

{% block subtitle %}{{ _('School Data') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('School Data'), named_route='home.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}


{% block primary_content_inner %}
<script type='text/javascript' src='https://prod-ca-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' height='940' style="font-size: small;" >
  <object class='tableauViz' width='100%' height='940' style='display:none;font-size: small;'>
    <param name='host_url' value='https%3A%2F%2Fprod-ca-a.online.tableau.com%2F' /> 
    <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;communitypartnerdataportal' />
    <param name='name' value='Biweekly_Survey_Dashboard&#47;BiweeklyStory&#47;e06b2992-1ec6-4395-8e65-798eb4fa12e1&#47;BiweeklyStory' />
    <param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' />
  </object>
</div>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    School Data
  </h2>
  <div class="module-content">
    <p>
     School data info here.
    </p>
  </div>
</div>

{% endblock %}