{% extends "page.html" %}

{% block subtitle %}{{ _('School Data') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('School Data'), named_route='home.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}


{% block primary_content_inner %}
<script type='text/javascript' src='https://prod-ca-a.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
<div class='tableauPlaceholder'  style="font-size: small;" >
  <object class='tableauViz' width='970px' height="1000px" style='display:none;font-size: small;'>
    <param name='host_url' value='https%3A%2F%2Fprod-ca-a.online.tableau.com%2F' /> 
    <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;communitypartnerdataportal' />
    <param name='name' value='CPDataPortalStory&#47;MonthlySurveyStory&#47;d04e4450-cf2d-4e96-ac0d-2f01c3e671db&#47;MonthlySurveyStory' />
    <param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' />
  </object>
</div>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    School Data
  </h2>
  <div class="module-content">
    <p>
     Tableau vizualization of school data.
    <br />
    <br />
    <strong>Tableau Credentials:</strong>
    <br />
    <br />
    <span><strong>Email:</strong> schooldata@teachforcanada.ca</span>
    <br />
    <span><strong>Password:</strong> !DataPortal1</span>
    </p>
  </div>
</div>

{% block style %}
  <style>
    .row.wrapper {
      width: 1360px !important;
    }
  </style>
{% endblock%}
{% endblock %}
